<div class="perfil-container">
  <h2>Editar Perfil</h2>

  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="cliente.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="cliente.apellido" name="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="cliente.email" name="email" required type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="cliente.telefono" name="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="cliente.rut" name="rut"></ion-input>
    </ion-item>

    <!-- Contraseña solo si deseas permitirla -->
    <!--
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="cliente.password" name="password" type="password"></ion-input>
    </ion-item>
    -->

    <ion-button expand="block" type="submit" color="success">Guardar Cambios</ion-button>
  </form>

  <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
</div>

